/*
    Created on : 19 nov. 2021, 17:49:34
    Author     : Sasha

    Dado que por defecto el footer está al final de la página —sin position: absolute—,
    este estilo lo mantiene abajo cuando es necesario.
*/

footer{
    position: absolute;
    bottom: 0; left:0;
}