/* 
    Created on : 3 nov. 2021, 9:55:55
    Author     : Sasha
*/
.cambiar{
    color: blue;
}
.porhacer{
    color: red;
}
.noaun{
    color: darkgray;
}

table{
    text-align: center;
    margin: auto;
    width: 97%;
    border-collapse: collapse;
    max-width: 1200px;
}
td{
    padding: 5px;
}
td.enunciado{
    border: 1px solid gainsboro;
    text-align: justify;
}
td.tipo{
    font-size: 11px;
    text-align: center;
}

img{
    width: 50px;
}